form {
  margin-bottom: 1rem;
  width: 100%;
}

input[type="search"] {
  width: 100%;
  padding: 4px 16px;
  border: none;
  border-radius: 100vw;
  font-family: "League Spartan", Helvetica, sans-serif;
}

.searchInput:focus,
.searchInput:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--clr-accent);
}