form {
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
}

input[type="search"] {
    width: 100%;
    padding: 4px 90px 4px 16px;
    border: none;
    border-radius: 100vw;
    font-family: "League Spartan", Helvetica, sans-serif;
}

.searchInput:focus,
.searchInput:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--clr-accent);
}

.searchButton {
    background-color: var(--clr-accent);
    color: var(--clr-text-primary);
    border: none;
    border-radius: 100vw;
    padding: 4px 16px;
    font-family: "League Spartan", Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
}

.searchIcon {
    width: 22px;
}