.songCard {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 5.5rem 1rem 1rem;
  gap: 1rem;
  color: var(--clr-text-secondary);
  border-top: 1px solid var(--clr-primary);
  background-color: rgba(255,255,255,0);
}

.albumTitle {
  color: #607e7e;
}

.songCard:hover {
  background-color: rgba(255,255,255,.02);
}

.songCard img {
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  object-fit: cover;
}

.songInfo {
  flex: 1 1 0;
  display: grid;
  align-content: center;
  justify-items: start;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h3, p {
  animation: none;
  cursor: default;
}

.songCard:hover :is(h3, p).animate {
  animation-name: marquee-scroll;
  animation-delay: 200ms;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(var(--animation-distance));
  }

  80% {
    transform: translateX(var(--animation-distance));
  }
  
  90% {
    transform: translateX(0);
  }
}